Guided-project-branching-looping-CSharp-main/GuidedProject/Starter/obj/Debug/net8.0/Starter.AssemblyInfo.cs
Guided-project-branching-looping-CSharp-main/GuidedProject/Starter/obj/Debug/net8.0/Starter.AssemblyInfoInputs.cache
Guided-project-branching-looping-CSharp-main/GuidedProject/Starter/obj/Debug/net8.0/Starter.assets.cache
Guided-project-branching-looping-CSharp-main/GuidedProject/Starter/obj/Debug/net8.0/Starter.GeneratedMSBuildEditorConfig.editorconfig
Guided-project-branching-looping-CSharp-main/GuidedProject/Final
Guided-project-Work-with-variable-data-in-CSharp-main/Final
Guided-project-Work-with-variable-data-in-CSharp-main/Starter/bin
Guided-project-Work-with-variable-data-in-CSharp-main/Starter/obj
Guided-project-branching-looping-CSharp-main/GuidedProject/Final/obj/Final.csproj.nuget.dgspec.json
Guided-project-branching-looping-CSharp-main/GuidedProject/Final/obj/Final.csproj.nuget.g.props
Guided-project-branching-looping-CSharp-main/GuidedProject/Final/obj/project.assets.json
Guided-project-branching-looping-CSharp-main/GuidedProject/Final/obj/project.nuget.cache
Guided-project-branching-looping-CSharp-main/GuidedProject/Final/obj/Debug/net8.0/Final.AssemblyInfo.cs
Guided-project-branching-looping-CSharp-main/GuidedProject/Final/obj/Debug/net8.0/Final.AssemblyInfoInputs.cache
Guided-project-branching-looping-CSharp-main/GuidedProject/Final/obj/Debug/net8.0/Final.assets.cache
Guided-project-branching-looping-CSharp-main/GuidedProject/Final/obj/Debug/net8.0/Final.GeneratedMSBuildEditorConfig.editorconfig
Guided-project-branching-looping-CSharp-main/GuidedProject/Starter/obj/project.assets.json
Guided-project-branching-looping-CSharp-main/GuidedProject/Starter/obj/project.nuget.cache
Guided-project-branching-looping-CSharp-main/GuidedProject/Starter/obj/Starter.csproj.nuget.dgspec.json
Guided-project-branching-looping-CSharp-main/GuidedProject/Starter/obj/Starter.csproj.nuget.g.props
Guided-project-branching-looping-CSharp-main/GuidedProject/Starter/obj/Debug/net8.0/apphost
Guided-project-branching-looping-CSharp-main/GuidedProject/Starter/obj/Debug/net8.0/Starter.AssemblyInfo.cs
Guided-project-branching-looping-CSharp-main/GuidedProject/Starter/obj/Debug/net8.0/Starter.AssemblyInfoInputs.cache
Guided-project-branching-looping-CSharp-main/GuidedProject/Starter/obj/Debug/net8.0/Starter.assets.cache
Guided-project-branching-looping-CSharp-main/GuidedProject/Starter/obj/Debug/net8.0/Starter.GeneratedMSBuildEditorConfig.editorconfig
